@font-face {
    font-family: "font-principal";
    src: url(../fonts/BrunoAceSC-Regular.ttf);
}

@font-face {
    font-family: "font-secundario";
    src: url(../fonts/Poppins-Light.ttf);
}

body {
    background-image: linear-gradient(#b0cbd9, #94a7e6);
    height: 100vh;
}

.nav {
    height: 90px;
    width: 100%;
    background-color: #4104c3;
    margin-bottom: 20px;
}

.nav h1 {
    color: white;
}


.nav a {
    position: absolute;
    left: 90%;
}

.nav button {

    height: 50px;
}

.nav img {
    position: absolute;
    right: 90%;
    height: 85px;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font-principal';
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    width: 90%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'font-secundario';
}

.content a {
    color: #FFF;
    text-decoration: none;
}

.content a:hover {
    color: #09a4b9;
    font-weight: bold;
}

.content button {
    height: 50px;
}



.tarjeta {
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #00c3de;
    font-family: 'font-principal';
    margin-bottom: 30px;
    border-radius: 15px;
    color: #000;
}

.tarjeta:hover {
    background-color: #09a4b9;
    border-right: solid black 5px;
    border-bottom: solid black 5px;
    box-shadow: 5px 5px 15px gray;
    cursor: pointer;
}

.tarjeta img {
    width: 180px;
}

/* Estilos de formularios */

.form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;
    width: 30%;
    background-color: #FFF;
    box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.75);
    font-family: 'font-secundario';
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #4104c3;
    margin-bottom: 30px;
}

.form select {
    margin-bottom: 30px;
}